@import '../../../assets/styles/variables';

.media-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}


@media screen and (max-width: $tablet-brkPoint) {
  .media-container{
    width: 100%;
  }
}

@media screen and (max-width: $mobile-brkPoint) {
  .media-container{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;

    img {
      // object-fit: contain;
      width: 100%;
      // height: 100%;
    }
  }
  }
