@import "../../../assets/styles/variables";

.planet-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  height: 90%;
  margin: 0;

  h1 {
    font-size: 4.313rem;
  }
}

@media screen and (max-width: $tablet-brkPoint) {
  .planet-info {
    padding-left: 2.5rem;

    h1 {
      font-size: 2.563rem;;
    }
  }
}

@media screen and (max-width: $mobile-brkPoint) {
  .planet-info {
    padding-inline: 2rem;
    align-items: center;
    justify-content: inherit;

    h1 {
      font-size: 2.563rem;
    }

    p {
      text-align: center;
    }
  }
}
