@import "../../../assets/styles/variables";
ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  margin: auto;

  .sections-btn {
    height: 3rem;
    border: $grayborder;
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
    span {
      color: rgb(255, 255, 255, 0.3);
    }
    &:hover {
      background-color: rgb(216, 216, 216, 0.2);
    }

    p{
      font-weight: bold;
      font-size: .5rem;
      letter-spacing: 0.1rem;

      span {
        margin-inline: .5rem;
      }
    }
  }
  .active {
    background-color: $planet-blue;
  }
}

@media screen and (max-width: $tablet-brkPoint) {
  ul {
    justify-content: center;
    margin-right: 2.6rem;
    width: 80%;
    // background-color: red;
  }
}

@media screen and (max-width: $mobile-brkPoint) {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 20px !important;
    width: 100%;

    .sections-btn {
      padding: 0 !important;
      text-overflow: ellipsis;
      border: none;
      border-bottom: $grayborder;
    }
  }

}
