ul {
  display: flex;
  flex-direction: column;

  button {
    height: 3rem;
    margin-bottom: 1rem;
  }
}


@media screen and (max-width: 500px) {
  ul{
    display: flex;
    flex-direction: row;
    max-height: 20px !important;
  }
}
