$primary-white: #FFFFFF;
$primary-dark-blue: #070724;
$primary-gray: #38384F;
$primary-clear-gray: #838391;

$planet-blue: #419EBB;
$planet-yellow: #EDA249;
$planet-purple: #6F2ED6;
$planet-organge: #D14C32;
$planet-red: #D83A34;
$planet-dark-orange: #CD5120;
$planet-green: #1EC2A4;
$planet-ice: #2D68F0;

// Breakpoints

$table-brkPoint: 850px;
$mobile-brkPoint: 500px;
