@import '../../assets/styles/variables';

section {
  display: grid;
  // width: 100%;
  height: 85vh;
  background-color: transparent;
  display: grid;
  border: 0;
  grid-template-areas:
  "a b"
  "a c";
  grid-template-columns: 2fr 1fr;
  padding-inline: 10.313rem;


  app-planet-media {
    height: 100%;
    border: 0;
    grid-row: 1 / span 2;
    background-color: transparent;
  }

  app-planet-info {
    height: 100%;
    grid-row: 1;
    background-color: transparent;
  }

  app-planet-sections {
    height: 100%;
    background-color: transparent;
    grid-row: 2;
  }

  app-planet-data {
    height: 100%;
    background-color: transparent;
    grid-column: 1 / 3;
  }

}

@media screen and (max-width: $tablet-adjust-brkPoint) {
  .test {
    padding-inline: 5rem;
  }
}

@media screen and (max-width: $tablet-brkPoint) {
  .test {
    grid-template-columns: 1fr 1fr;
    padding-inline: 0rem;

    app-planet-media {
      grid-column: 1 / span 3;
      grid-row: 1;
    }

    app-planet-info {
      // background-color: red !important;
      grid-column: 1;
      grid-row: 2;
    }

    app-planet-sections {
      grid-column: 2;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: auto;
      width: 100%;
      // background-color: red;
    }


    app-planet-data {
      grid-column: 1 / 3;
      grid-row:3;
    }
  }

}

@media screen and (max-width: $mobile-brkPoint) {
  .test {
    display: flex;
    flex-direction: column;
    justify-content: center;

    app-planet-media {
      // margin-top: 4rem;
      order: 2;
    }

    app-planet-info {
      order: 3;
    }

    app-planet-sections {
      order: 1;
      height: 250px;
      // height: 3rem;
    }

    app-planet-data {
      order: 4;
    }
  }
}
