section {
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: red;
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  grid-template-columns: 1.5fr 1fr;

  app-planet-media {
    height: 100%;
  border: 3px solid skyblue;
  grid-row: 1 / span 2;
  background-color: yellowgreen;
  }

  app-planet-info {
    height: 100%;
    border: 3px solid green;
    grid-row: 1;
    background-color: green;
  }

  app-planet-sections {
    height: 100%;
  border: 3px solid purple;
  background-color: purple;
  grid-row: 2;
  }

  app-planet-data {
    height: 100%;
    border: 3px solid orange;
    background-color: orange;
    grid-column: 1 / 3;
  }

}

@media screen and (max-width: 768px) {
// @media (max-width: 768px) {
  .test {
    grid-template-columns: 1fr 1fr;

    app-planet-media {
      grid-column: 1 / span 3;
      grid-row: 1;
      background-color: yellowgreen !important;
    }

    app-planet-info {
      grid-column: 1;
      grid-row: 2;
    }

    app-planet-sections {
      grid-column: 2;
      grid-row: 2;
    }

    app-planet-data {
      grid-column: 1 / 3;
      grid-row:3;
    }
  }

}

@media screen and (max-width: 500px) {
  .test {
    // grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;

    app-planet-media {
      order: 2;
      // grid-column: 1 / 3;
      // grid-row: 2;
    }

    app-planet-info {
      order: 3;
      // grid-column: 1 / 3;
      // grid-row: 3;
    }

    app-planet-sections {
      order: 1;
      height: 3rem;
      // grid-column: 1 / 3;
      // grid-row: 1;
    }

    app-planet-data {
      order: 4;
      // grid-column: 1 / 3;
      // grid-row: 4;
    }
  }
}
