@import '../../assets/styles/variables';
nav {
  width: 100%;
  // border: 3px dotted greenyellow;
  border-bottom: $grayborder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.375rem;

  h2{
    width: fit-content;
    margin: 0;
    min-width: fit-content;
    font-size: 2rem;
    left: 3rem;
    margin-left: 2rem;

  }

  ul {
    list-style: none;
    max-width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    li {
      display: flex;
          h4 {
            cursor: pointer;
            height: 30px;
          }
    }
  }

}

@media screen and (max-width: $tablet-brkPoint) {
  nav {
    display: flex;
    flex-direction: column;
    height: auto;

    h2 {
      margin: auto;
      margin-bottom: 0;
      text-align: center;
    }

    ul {
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      margin: 0;

      li {
        margin-inline: .5rem;
        cursor: pointer;
      }
    }
  }
}


@media screen and (max-width: $mobile-brkPoint) {

}
